src/main/mule/first_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="29161218-4a47-4a3d-9af3-762d11c20d41" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="first_projectFlow" doc:id="0b92d4c4-606d-4030-969b-a6b4af0bf2ba" >
		<http:listener doc:name="Listener" doc:id="c7fa38cd-f9f8-4a01-848c-d61998c1f126" config-ref="HTTP_Listener_config" path="/hello-mule"/>
		<logger level="INFO" doc:name="Logger" doc:id="93913af5-0147-4ae6-b562-1081c9292819" message="Hi Mule this is my first project"/>
		<set-payload value='#["saiteja_Welcome to Mule soft "]' doc:name="Set Payload" doc:id="c5e86e94-6ca9-45b2-a855-cd869e46bf8c" />
	</flow>
</mule>
